.banner {
  min-height: 600px;
  background-size: cover;
  background-position: center;

  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.banner-one {
  background: linear-gradient(rgba(15, 118, 109, 0.9), rgba(15, 118, 109, 0.9)),
    url('https://i.ibb.co/fGj7yPj/pexels-greta-hoffman-7728943.jpg');
}

.banner-two {
  background: linear-gradient(rgba(15, 118, 109, 0.9), rgba(15, 118, 109, 0.9)),
    url('https://i.ibb.co/yRqYfJZ/pexels-andrea-piacquadio-3771111.jpg');
}
.banner-three {
  background: linear-gradient(rgba(15, 118, 109, 0.9), rgba(15, 118, 109, 0.9)),
    url('https://i.ibb.co/vPHzf8h/pexels-karolina-grabowska-4239146.jpg');
}

.banner-content {
  max-width: 1000px;
  text-align: center;
  margin: auto;
}

.banner-content span {
  color: #ea5c43;
  font-size: 16px;
  line-height: 1.6;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
}

.banner-content h1 {
  font-size: 64px;
  color: #fff;
  font-weight: 300;
  margin-top: 20px;
  line-height: 1.1;
  position: relative;
  margin-bottom: 64px;
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1200px) {
  .banner-content {
    padding: 20px;
  }

  .banner-content h1:before {
    display: none;
  }

  .banner-content h1:after {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .banner-content h1 {
    font-size: 62px;
  }
}

@media only screen and (max-width: 700px) {
  .banner-content h1 {
    font-size: 52px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 500px) {
  .banner-content h1 {
    font-size: 44px;
    line-height: 1.4;
  }
}
